.wave {
  background: linear-gradient(
    90deg,
    rgba(59, 130, 246, 0.3) 0%,
    rgba(59, 130, 246, 0) 100%
  );
  background-size: 200% 100%;
  animation: wave 1.5s infinite;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 1000px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 30%;
  margin: 0 10px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
  color: #555;
}

.webcam-container {
  height: 400px;
  width: 400px;
}

.label-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.prediction-card,
.labels-card {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labels-card {
  max-width: 300px;
  margin-left: 1rem;
}

.hidden {
  display: none;
}

.label-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e2e8f0;
}

.label-name {
  font-weight: bold;
  color: #2d3748;
  text-align: left;
  flex-grow: 1;
}

.label-value {
  font-weight: bold;
  color: #2d3748;
  text-align: right;
  min-width: 150px;
  /* Adjust width for spacing */
}
